@use 'template.scss';

main{
     a,
     a:hover{
    color: var(--msuGreen);
    }
}

.alert-heading{
    font-size: 1.2rem;
}

.card-audience {
    float: left;
    margin: .1rem;
    min-height: 280px;
    width: 32%;

    .card-title{
        font-size: 1.2rem;
    }

    .btn-card{
        bottom: 0;
        font-size: .9rem;
        left: 0 ;
        position: absolute;
        right: 0;
    }
}


/* Media Queries */
@media only screen and (max-width: 991px) {
    .card-audience {
        margin: .1rem 0;
        width: 50%;
    }
}

@media only screen and (max-width: 767px) {
    .hide-mobile{
        display: none;
    }
    .card-audience {
        margin: .1rem 0;
        width: 100%;

        .btn-card{
            position: relative;
        }
    }

}