@use 'styles.scss';

//Spartan Spit
.container-portalBody,
.container-spartanSpit{
    margin: 1rem 0;
}
.progress{
    height: auto;

    .progress-bar{
        height: 2rem;
    }
    .progress-bar.bg-gray{
        background-color: #ccc;
    }
    .progress-bar.bg-green{
        background-color: #466a62; 
    }
}

.card-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
}

.card{
    .card-header 
    {
        padding: .5rem 1rem 0;
        h2{
            font-size: 1.5rem;
        }
    }
}

.card-w2{
    grid-column: span 2;
}

.card-w4{
    grid-column: span 4;
}

.card-w6{
    grid-column: span 6;
}

/* Media Queries */
@media only screen and (max-width: 991px) {
    .card-w2{
        grid-column: span 3;
    }

    .card-w4,
    .card-w4{
        grid-column: span 6;
    }
    
}
@media only screen and (max-width: 500px) {
    .card-w2{
        grid-column: span 6;
    }
}

