:root{
    --msuGreen: #18453b;
    --footer: #333;
}

/*HTML Elements*/
header{
    background: var(--msuGreen);
    padding: 1rem;
    .header__spartantHelmetLogo{
        height: 34px;
        path{
            fill: #fff;
        }
    }
    .header__appName{
        color: #fff;
    }
}

/*Footer*/
footer{
    background: var(--footer);
    color: #fff;
    grid-template-columns: repeat(12, 1fr);
    padding: 1rem;
     a{
         &:hover{
            text-decoration: none;
         }
    }
    .footer__wordmark {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .footer__iconWordmark {
        height: 50px;
        path{
            fill: #fff;
        }
    }
    .footer__linksAndInfo {
        grid-column-start: 4;
        grid-column-end: 13;
    }
    .footer__links{
        border-bottom: 1px dotted;
         a{
            color: #fff;
        }
    }
    .footer__info a{
        color: #81d300;
    }
    .footer__links,
    .footer__info {
        font-size: 0.8rem;
        ul{
            margin-bottom: 0;
            padding: 0;
           li {
                border-right: 1px solid #fff;
                display: inline;
                padding: 0 5px;
                &:last-child{
                    border: none;
                }
            }
        }
    }
}


/*Layout*/
.container-1170 {
	display: grid;
	max-width: 1170px;
	margin: 0 auto;
}

/* Media Queries */
@media only screen and (max-width: 1170px) {
	.footer__wordmark,
	.footer__linksAndInfo {
		grid-column-start: 1;
		grid-column-end: 13;
		text-align: center;
	}
	.footer__wordmark {
		grid-row: 2;
		margin-top: 2rem;
	}

	.footer__linksAndInfo {
		grid-row: 1;
	}
}