@use 'template.scss';

.markedForDeletion{
    background: #dc3545;
    color: #fff;
    display:inline-block;
    font-size: .9rem;
    padding: 0 0.2rem
}

button.icon{
    background: none;
    border: none;
}