@use 'template.scss';

.highlight{
    background: var(--msuGreen);
    color: #fff;
    margin-right: .1rem;
    padding: .2rem;
}

.markedForDeletion{
    background: #dc3545;
    color: #fff;
    display:inline-block;
    font-size: .9rem;
    padding: 0 0.2rem
}

.markedPriority{
    background: #ffc107;
    color: #212529;
    display:inline-block;
    font-size: .9rem;
    padding: 0 0.2rem
}

button.icon{
    background: none;
    border: none;
}