@font-face {
  font-family: 'msuCovid19';
  src:
    url('fonts/msuCovid19.ttf?zad8nl') format('truetype'),
    url('fonts/msuCovid19.woff?zad8nl') format('woff'),
    url('fonts/msuCovid19.svg?zad8nl#msuCovid19') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'msuCovid19' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-group:before {
  content: "\e901";
}
.icon-virus:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-restore:before {
  content: "\e95f";
}
.icon-trash:before {
  content: "\e9ad";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
